

@keyframes fadeIn {
  from {
    opacity: 3;
  }
  to {
    opacity: 1;
  }
}


.card-animate {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-animate:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-us-container {
    background: url('https://img.freepik.com/free-photo/fading-blue-background_53876-88684.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724889600&semt=ais_hybrid') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; /* Ensure the background covers the full viewport height */
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box;
  }
  .backgrnd{
    background:url('https://media.istockphoto.com/id/1467937769/photo/digital-technology-abstract-concept-small-particles-connected-in-multicolored-lines-with-a.jpg?b=1&s=612x612&w=0&k=20&c=vsPq5hsb1zynhVzY_aw291H2yRoD5NnfrplgSYddKaQ=')
  }
  .backgrndd{
    background:url("https://img.lovepik.com/background/20211022/large/lovepik-blue-tech-background-image_401958674.jpg");
  }